body{
    background: #1A1C23;
}
header{
    position: fixed;
    width: calc(100% - 300px);
    border-bottom: 1px solid #626469;
    z-index: 200;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    right: 0px;
}
.header-div-in{
    width: 1028px;
    margin: auto;
}
.header-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.header-div .text-div span{
    color: #fff;
    font-family: body-font;
    font-size: 21px;
}
.header-div .text-div img{
    width: 26px;
    height: 26px;
}
.header-div .text-div .text-div-in{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.header-div .text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header-div .text-div .text-div-i{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border: 1px solid red; */
}
.header-div .text-div .text-div-i span{
    font-size: 15px;
}
.header-div .text-div .text-div-i span p{
    margin: 0;
}
.header-div .text-div p{
    color: #fff;
    font-size: 13px;
}
.header-div span{
    color: #fff;
    font-size: 25px;
}

#blink {
    animation: blink 2s step-start 0s infinite;
    color: red;

}
@keyframes blink {
    50% {
        opacity: 0;
    }
}

.search-div-in{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    float: right;
    z-index: 100;
}
.input-div{
    padding: 7px 5px;
    width: 250px;
    background: #22242B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
}
.input-div input{
    background: transparent;
    outline: none;
    border: none;
    caret-color: #fff;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
}
.input-div input::placeholder{
    color: #626469;
    font-size: 16px;
}
.input-div i{
    color: #626469;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.input-div span{
    color: #626469;
    font-family: body-font;
    font-size: 18px;
}
.notification-div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.notification-div .icon-div{
    width: 40px;
    height: 40px;
    background: #313133;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    transition: 0.5s ease-in-out;
}

.notification-div .icon-div i{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.notification-div .icon-div:hover{
    background: rgba(204, 204, 206, 0.4);
}

.notification-div-in{
    position: absolute;
    top: 16%;
    right: 10%;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #FE6A49;
    font-size: 7px;
    color: #fff;
}
hr{
    height: 5vh;
    border:1px solid #626469;
    
}
.search-div-in img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.search-div-in #time{
    padding: 3px 8px;
    background:#313133;
    border-radius: 7px;
}
.side-bar{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 100%;
    background: #22242B;
    left: 0px;
}

.side-bar .div-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  width: calc(100% - 60px);
}

.side-bar .div-in .img-div{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 85%;

}
.side-bar .div-in .img-div img{
    padding: 9px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.side-bar .div-in .list-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-top: 1px solid #626469;
}

.side-bar .div-in .list-div ul{
    width: 250px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.side-bar .div-in .list-div ul li{
    position: relative;
    list-style: none;
    color: #CCCCCE;
    font-size: 18px;
    cursor: pointer;
    font-family: body-font;
    padding: 14px 15px;
}

.side-bar  .list-div ul .active-li{
    background: rgba(204, 204, 206, 0.4);
    border-radius: 10px;
    width: 200px;
    color: #fff;
}
.side-bar .list-div ul li .hidden{
    display: none;
}

.list-div ul .pin::before{
    content: "";
}
.list-div ul .pin{
    position: absolute;
    top: -20%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    background: #006666;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    visibility: hidden;
}
.side-bar .list-div ul li i{
   margin: 0 20px;
}
.side-bar .list-div{
    display: flex;
    justify-content: center;
}
.side-bar .list-div ul li .bi-chevron-right{
    margin-left: 70px;
    font-size: 14px;
}
.side-bar .list-div ul li:hover{
    background: rgba(204, 204, 206, 0.4);
    border-radius: 10px;
    width: 200px;
    color: #fff;
}
.side-bar .list-div ul li:hover .pin{
    visibility: visible;
    cursor: pointer;
}


.content-div-in{
    position: absolute;
    width: calc(100% - 250px);
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 0px;
    top: 50px;

}

.content-div{
    width: calc(100% - 60px);
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    overflow: auto;
    padding-bottom: 100px;
    gap: 10px;
}

.page-title{
    color: #fff;
    font-family: body-font;
}


.project .project-div{
    border: 1px solid #393A41;
    width: 400px;
    border-bottom: 1px solid #006666;
    background: #22242B;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: 0.5s ease-in-out;
}
.project .project-div:hover  i{
    animation: 1.0s infinite ease-in-out tada;
}
.project .project-div:hover{
    transform: translateY(-4px); /* Lift effect */
}
.project{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.project .project-div p{
    font-size: 17px;
    color: #CCCCCE;
    font-family: body-font;
   
}
.project .project-div .text-div{
    margin: 20px 0 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.project .project-div .text-div span{
    font-family: sub-title-font;
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
}
.project .project-div .icon-div{
    width: 45px;
    height: 45px;
    background: rgba(24, 56, 61, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #006666;
    margin-right: 20px;
    border-radius: 6px;
    font-size: 20px;
}
.project .project-div .yellow{
    background: rgba(246,176,44,.4);
    color: rgb(246,176,44);
}
.project .yellow-div{
    border-bottom: 1px solid rgb(246,176,44);
}

.project .project-div .red{
    background: rgba(255,131,103, .4);
    color: rgb(255,131,103);
}
.project .red-div{
    border-bottom: 1px solid rgb(255,131,103);
}

.project .project-div .white{
    background: rgba(255,255,255, .4);
    color: rgb(255,255,255);
}
.project .white-div{
    border-bottom: 1px solid rgb(255,255,255);
}

.stats-div{
    width: 100%;
    height:300px;
    margin-top: 20px;
    border-radius: 6px;
}

.stats-div h3{
    margin: 0;
    font-family: sub-title-font;
    font-weight: normal;
    color: #fff;
}
.stats-div .text-div{
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    gap: 60%;
}

.stats-div .text-div select{
    background: transparent;
    border: 1px solid #4E5055;
    cursor: pointer;
    color: #b1adad;
    width: 130px;
    text-align: center;
    border-radius: 8px;
}

.stats-div .text-div select option{
    font-family: sub-title-font;
}









.bubbles{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    animation: floating 10s infinite ease-in;
}

.bubble{
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background-color: rgba(0, 102, 102, 0.1);
    position: absolute;
    -webkit-animation: floating 10s infinite ease-in;
    animation: floating 10s infinite ease-in;
    animation-duration: 10s;
    list-style: none;
}
.bubble:nth-child(1) {
    height: 25px;
    width: 25px;
    border-radius: 15px;
    left: 10%;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
  }
  .bubble:nth-child(2) {
    height: 28px;
    width: 28px;
    border-radius: 15px;
    left: 20%;
    -webkit-animation-duration: 14s;
    animation-duration: 14s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .bubble:nth-child(3) {
    height: 24px;
    width: 24px;
    border-radius: 15px;
    left: 35%;
    animation-duration: 16s;
    animation-delay: 3s;
  }

  .bubble:nth-child(4) {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    left: 50%;
    animation-duration: 13s;
    animation-delay: 1s;
  }

  .bubble:nth-child(5) {
    height: 20px;
    width: 20px;
    border-radius: 15px;
    left: 5%;
    animation-duration: 10s;
    animation-delay: 1s;
  }

  .bubble:nth-child(6) {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    left: 30%;
    animation-duration: 19s;
    animation-delay: 1s;
  }







@keyframes floating{
    0%{
  top: -100px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
50% {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}
100% {
  top: 1080px;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
}
0% {
  top: -100px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
50% {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}
100% {
  top: 1080px;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
}
0% {
  top: -100px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
50% {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}
100% {
  top: 1080px;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
}
}
.staff-div{
    width: calc(100% - 10px);
    height: 55px;
    padding: 0 5px;
    background: #D4D3D8;
    display: flex;
    gap: 5px;
    border-radius: 5px;
    align-items: center;
}
.staff-div select{
    background: transparent;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    height: 47px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    font-family: body-font;
}
.content-div input{
    padding: 16px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: calc(100% - 48px);
    background: rgba(255, 255, 255, 0.8);
}
.admin-list{
    width: calc(100% - 22px);
    padding: 10px;
    background: #313133;
    border-radius: 5px;
    border-left: 1px solid #0759A2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.admin-list .text-div{
    color: #fff;
    width: fit-content;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.admin-list .text-div span{
    text-transform: uppercase;
 }
 .admin-list button{
    background: #0759A2;
    padding: 0 10px;
    width: fit-content;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: body-font;
    height: 28px;
    transition: 0.5s;
 }
 .admin-list button:hover{
    background: #075294;
 }
 .content-div .staff-div-in{
    margin-top: 40px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    height: 300px;
}
.staff-inner{
    width: 300px;
    padding: 0 10px;
    height: 110px;
    background: #22242B;
    display: flex;
    border: 1px solid #393A41;
    align-items: center;
    gap: 15px;
    border-radius: 3px;
    cursor: pointer;
}
.staff-id span{
    color: #fff;
}
.staff-inner .img-div{
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.4);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.staff-inner .img-div img{
    width: 100%;
    
    object-fit: cover;
}
.staff-name h3{
    margin: 0;
    font-size: 16px;
    font-family: sub-title-font;
    font-weight: normal;
    color: #fff;
}
.staff-name hr{
    border: 1.5px solid #0759A2;
    height: 0;
    width: 70px;
    float: left;
    margin-bottom: 3px;
}
.staff-name span,p{
    font-size: 10px;
    font-family: body-font;
    color: #fff;
}
.staff-name .active{
    color: #08b9b9;
}
.staff-name p{
    margin: 14px 0 0 0;
}
.starlight{
    color: #fff;
}

.product-div{
    border-radius: 4px;
    width: calc(30% - 10px);
    height: 350px;
    border: 1px solid #393A41;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.product-div-in{
    position: relative;
    width: 100%;
    height: 250px;
}
.product-div-in .img-div{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%;
    height: 100%;
    background: #BDBEB0;
    overflow: hidden;
}
.product-div-in .img-div img{
    width: 100%;
    height: 100%;
    transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
}
.product-div:hover  .img-div img{
    -webkit-transform: scale(1.10);
	-moz-transform: scale(1.10);
	transform:scale(1.10);
}
.product-div .active-div{
    position: absolute;
    text-transform: uppercase;
    bottom: 2%;
    left: 3%;
    width: 100px;
    background: #43a1ee;
    border-radius: 25px;
    color: #fff;
    padding: 3px 5px;
    text-align: center;
}
.product-div-in h3{
    font-family: title-font;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    padding: 0 5px;

}

.product-div-in .price{
    display: flex;
    gap: 10px;
    align-items: center;
}
.price .price-div{
    text-decoration: none;
    font-weight: 600;
    color: #108BEA;
}
.price span{
    text-decoration: line-through;
    font-family: body-font;
    color: var(--secondary-color);
  }

  .staff-details{
    position: absolute;
    width: 500px;
    height: 100%;
    background: #22242B;
    right: 0;
    overflow: hidden;
  }
  .staff-details-div{
    width: calc(100% - 20px);
    height: 50px;
    background: #393A41;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 10px;
  }
  .staff-details-div .text-div{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 17px
  }
  .staff-details-div .text-div{
    font-family: body-font;
  }
  .exit{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 1.0);
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    transition: 0.5s;
    color: #FF0000;
  }
  .exit:hover{
    background: rgba(255, 255, 255, .9);
  }

  .staff-add-body{
    height: calc(100% - 90px);
    padding: 20px;
    overflow: auto;
  }
  
  .form-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }
  
  .form-div label{
    font-family: body-font;
    font-weight: normal;
    color: #fff;
    font-size: 13px;
    margin-left: 8px;
  }
  .form-div span{
    color: #FF0000;
    font-weight: normal;
  }
  .form-div input{
    padding: 10px 10px;
    outline: none;
    border: 1px solid var(--outline-input);
    border-radius: 5px;
    font-family: body-font;
  }
  .form-div input::placeholder.form-div input{
    font-family: body-font;
  }
  .form button{
    width: 120px;
    padding: 14px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background: #075294;
    color: var(--secondary-color);
    transition: 0.5s ease-in-out;
  }
  .form button:hover{
    background: #044680;
  }
.update_staff{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
  .update-staff{
    width: calc(100% - 160px);
    height: 90%;
    border-radius: 6px 6px 0 0;
    background: #1A1C23;
  }
.staff-update{
    border-radius: 6px 6px 0 0;
}
  .update-staff-div{
    width: 100%;
    background: linear-gradient(to right, #262a38, #365094);
    height: 45px;
    border-radius: 6px 6px 0 0;
  }
.staff-update-div{
    height: 520px;
    overflow: auto;
}
  .update-staff-div-in{
    margin-top: 5px;
    width: 100%;
    height: 220px;
    position: relative;
  }
  .update-staff-div-in .img{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    object-fit: cover;
    z-index: 5;
    position: relative;
  }

  .profile-div{
    position: absolute;
    z-index: 10;
    margin: -80px 0 0 60px;
  }
  .profile-div-inner{
    display: flex;
    gap: 9px;
  }
  .profile-div .text-div{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .profile-div .text-div h3{
    text-transform: uppercase;
    color: var(--secondary-color);
    font-family: sub-title-font;
    font-size: 40px
  }
  .profile-div .profile-div-in{
    width: 130px;
    height: 130px;
  }
  .profile-div .profile-div-in img{
    width: 100%;
    height:100%;
    border-radius: 7px;
    border: 2px solid #fff;
  }
  .profile-div .text-div label{
    font-family: body-font;
    color: #fff;
  }
  .profile-div .text-div label span{
    color: #08b9b9;
  }
  .basic-div{
    width: 95%;
    height: 20px;
    margin: 10% auto 0 auto;
  }
  .basic-div-in h3{
    margin-left: 10px;
    font-family: sub-title-font;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
  }
  .basic-div-in hr{
    height: 0;
    border: 2px solid #075294;
  }
  .basic-div .input-div-in{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .basic-div .input-div-in span{
    margin-left: 10px;
    font-family: sub-title-font;
    color: #363535;
  }
  .basic-div .input-div-in input{
    width: 100%;
    padding: 13px 10px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-family: body-font;
    font-weight: normal;
    font-size: 17px;
    color: #525252;
  }
  .input-div-in .input-div-inn{
    width: 49%;
   
  }
  .input-div-in .input-div-inn span{
    color: #fff;
  }
  .account{
    margin-top: 10%;
  }

  .input-inner{
    width: calc(99% - 20px);
    padding: 13px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-family: body-font;
    font-weight: normal;
    color: #525252;
    display: flex;
    background: #fff;
  }
  .input-inner input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 17px;
    font-family: body-font;
  }
  .inner{
    width: 47%;
  }
  .inner span{
    color: #fff;
  }
  .inner-div{
    width: 45%;
  }
  .account-div-inner{
    width: 100%;
    display: flex;
    gap: 40px;
    margin-top: 10px;
  }
  .text{
    width: 100%;
  }
  .basic-div button{
    background: #0563aa;
    width: 150px;
    padding: 12px 0;
    border: none;
    float: right;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: body-font;
    margin: 10px 0;
    transition: 0.5s;
  }
  .basic-div button:hover{
    background: #0779cf;
  }
