
header{
    position: fixed;
    width: 100%;
    z-index:200;
    background-color: #fff;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    box-shadow:0px 0px 5px 5px rgba(185, 185, 185, 0.3);
}
header .top-div{
    background-color: #000000;
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

header .top-div .inner-div{
    width: 85%;
    max-width: 1200px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
header .top-div .inner-div .icons{
    display: flex;
    gap: 15px;
    font-size: 18px;
}
header .top-div .inner-div .icons i{
    cursor: pointer;
}
header .bottom-div{
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
}
header .bottom-div .inner-div{
    width: 85%;
    max-width: 1200px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
}
header .bottom-div .inner-div .icon-div{
    display: flex;
    justify-content: center ;
    gap: 20px;
    font-size: 25px;

}
header .bottom-div .inner-div .icon-div i:hover{
    color: var(--primary-color);
}
header .bottom-div .inner-div .icon-div i .count{
    position: relative;
    height:20px;
    width: 20px;
    border-radius: 100%;
    background: #000;
    font-size: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
    left: 20px;
}
 .sub-home{
    position: absolute;
    width: 200px;
    height: 180px;
    top: 100%;
    padding: 20px 0;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 800;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}
.page-div{
    height: 140px;
    width: 150px;
}


header .bottom-div .inner-div nav .page-div ul{
  margin: 0;
}

 header .bottom-div .inner-div nav ul li:hover .sub-home{
    transition: all 0.10ms ease-in-out;
    visibility: visible;
 }
 
header .bottom-div .inner-div nav .sub-home ul{
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: fit-content;
    margin: auto;
}
header .bottom-div .inner-div nav .sub-home ul li{
    font-size: 15px;
    font-weight: 100;
}
header .bottom-div .inner-div nav .sub-home ul li:hover{
    transition: 0.3s ease-in;
    color: #108bea;
}
header .bottom-div .inner-div .icon-div{
    cursor: pointer;
}
header .bottom-div .inner-div .mobile-btn{
	height:40px;
	width:40px;
	visibility: hidden;
	border: none;
	border-radius: 5px;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
	cursor:pointer;
}

header .bottom-div .inner-div nav{
    display: flex;
}
header .bottom-div .inner-div nav ul{
    display: flex;
    gap: 45px;
    padding: 0px;
    margin: 0px;
}


header .bottom-div .inner-div nav ul li{
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
header .bottom-div .inner-div nav ul li:hover{
    cursor: pointer;
    color: #108bea;
}

 



@media all and (max-width:1086px) {
    header .bottom-div .inner-div .mobile-btn{
        visibility: visible;
    }
    header .bottom-div .inner-div .icon-div{
        display: none;
    }
    header .bottom-div .inner-div nav{
        display: none;
    }
  
}
@media all and (max-width:498px) {
    header .top-div .inner-div p{
        font-size: 8px;
    }
    header .top-div .inner-div .icons i{
        font-size: 12px;
    }
}







.slide-div{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../all-images/Images/zose-background.webp) no-repeat;
    background-size: cover;
    z-index: -999;
    display: flex;
    justify-content: center;
}
.slide-div .slide-div-in{
    width: 85%;
    padding-top: 50px ;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-div-in .control-div h2{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slide-div-in .control-div h2 span{
    color: #108BEA;
}
.slide-div-in .control-div p{
    line-height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #666666;
    margin-bottom: 30px;
}
.slide-div-in .control-div .btn{
    padding: 15px 20px;
    background-color: #108BEA;
    width: 180px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.slide-div-in .control-div .btn:hover{
    transition: 0.5s;
    background-color: #000;
}
.slide-div-in .img-div img{
    width: 550px;
    height: 550px;
}



@media all and (max-width:1148px) {
    .slide-div-in .img-div img{
        width: 250px;
        height: 250px;
    }
}
@media all and (max-width:941px){
    .slide-div .slide-div-in{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 40%;
        
    }
}
    @media all and (max-width:414px){
    .slide-div-in .control-div h2{
        font-size: 18px;
    }
    .slide-div-in .control-div p{
        font-size: 10px;
    }
}










.index-content{
    position: absolute;
    top: 100%;
    width: 100%;
}

.body-div{
    width: 100%;
    background-color: #fff;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-div-in{
    width: 85%;
    min-height: 300px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-div{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 90px;
    align-items: center;
    background-color: #fff;
}



 .solution{
    background-color: #FAFAFA;
    min-height: 50px;
}

.solution-text{
    width: 42%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.solution-text h2{
    font-size: 28px;
    margin: 0;
}
.solution-text p{
    margin-top: 10px;
    color: #666666;
  
}
.sectors-div{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.sectors-div .bank-div{
    width: 320px;
    min-height: 210px;
    background-color: #fff;
    box-shadow:0px 0px 0px 1px rgba(185, 185, 185, 0.1);
    padding: 40px 20px;
}
.sectors-div .bank-div:hover{
    box-shadow:0px 0px 15px 5px rgba(185, 185, 185, 0.3);
    transition: 0.5ms ease-in-out;
}
.bank-div .bank-img{
    margin-bottom: 10px;
}
.bank-div .bank-img img{
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.bank-text{
    width: 300px;
}
.bank-text a{
    font-size: 20px;
    font-weight: 600;
    color: #222222;
}
.bank-text p{
    margin-top: 20px;
    line-height: 30px;
    color: #555555;
    font-size: 13px;
}
.gadget{
    background-color: #fff;
}
.gadget .body-div-in{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectors-div .education{
    background-color: #FAFAFA;
}



@media all and (max-width:1148px){
    .logo-div{
        overflow: scroll;
    }
}
 @media all and (max-width:788px){
    .solution-text{
        width: 100%;
    }
}
@media all and (max-width:896px){
    .sectors-div .bank-div{
        width: 180px;
    }
    .bank-text{
        width: 100%;
    }
}
@media all and (max-width:542px){
    .sectors-div .bank-div{
        width: 100%;
    }
}









.product-div{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.product-div .network-camera-div{
    position: relative;
    min-height: 300px;
    width: 270px;
}
.soldout-div{
    position: absolute;
    top: 3%;
    left: 4%;
    width: fit-content;
    background-color: #108BEA;
    color: #fff;
    padding: 0 10px;
    font-size: 17px;
    border-radius: 5px;
}
.product-div .network-camera-div .camera-img img{
    width: 100%;
    height: 270px;
}
.product-div .network-camera-div .camera-text{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-div .network-camera-div .camera-img .like-div{
    position: absolute;
    top: 10%;
    right: 0;
    width: 80px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 17px;
    visibility: hidden;
}
.product-div .network-camera-div:hover .like-div{
    transition: 0.5s;
    visibility: visible;
}
.product-div .network-camera-div .camera-img .like-div .like-div-in{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: #fff;
    border-radius: 50%;
    font-size: 23px;
    cursor: pointer;
}
.product-div .network-camera-div .camera-img .like-div .like-div-in:hover{
    color: #108BEA;
}

.product-div .network-camera-div .camera-text a{
    font-size: 20px;
    font-weight: 600;
    font-family:  Lato, sans-serif;
}
.product-div .network-camera-div .camera-text a:hover{
    transition: 0.3ms ease;
    color: #108BEA;
}
.product-div .network-camera-div .camera-text span{
   
    text-decoration: line-through;
    font-family:  Lato, sans-serif;
}
.product-div .network-camera-div .camera-text .price{
    font-size: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.product-div .network-camera-div .camera-text .price .price-div{
    text-decoration: none;
    font-weight: 600;
    color: #108BEA;
}

 




@media all and (max-width:896px){
    .solution-text{
        width: 100%;
    }
    .solution-text h2{
        font-size: 23px;
    }
}
/* @media all and (max-width:996px){
    .product-div{
        gap: 20%;
    }
    .product-div .network-camera-div{
        width: 40%;
    }
} */
@media all and (max-width:654px){
    .product-div .network-camera-div{
        width: 100%;
    }
.product-div .network-camera-div .camera-img img{
    width: 100%;
}
}






.security{
    background-color: #fff;

}
.security-div{
    width: 100%;
    display: flex;
}
.security-div .security-div-in{
    width: 60%;
}
.security-div .security-div-in .security-text{
    width: 100%;
    font-family:  Lato, sans-serif;
  
}
.security-div .security-div-in .security-text h1{
    font-size: 30px;
}
.security-div .security-div-in .security-text p{
    font-size: 17px;
    line-height: 28px;
    color: #666666;
}


.security-div-in .control-div{
    margin-top: 40px;
    display: flex;
}

.control-div .control-div-in .img-div img{
    width: 38px;
    height: 38px;
    padding: 20px 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:0px 0px 15px 5px rgba(185, 185, 185, 0.2);
}
.control-div .control-div-in .control-text{
    font-family:  Lato, sans-serif;
    width: 80%;
    margin-top: 20px;
}
.control-div .control-div-in .control-text span{
    font-size: 18px;
    font-weight: 600;
}
.control-div .control-div-in .control-text p{
    margin-top: 10px;
    color: #666666;
    line-height: 20px;
}
.security-div .security-img{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.security-div .security-img img{
    width: 500px;
    height: 500px;
}


@media all and (max-width:1036px){
    .security-div{
        flex-direction: column;
        justify-content: center;
    }
    .control-div .control-div-in .control-text{
        width: 100%;
    }
    .security-div-in .control-div{
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .security-div .security-div-in{
        width: 100%;
    }
}
@media all and (max-width:461px){
    
    .security-div .security-img img{
        width: 300px;
        height: 300px;
    }
    .control-div .control-div-in .img-div img{
        width: 25px;
        height: 25px;
    }
    .control-div .control-div-in .control-text span{
        font-size: 13px;
    }
    .control-div .control-div-in .control-text p{
        font-size: 10px;
        line-height: 10px;
    }
    .security-div .security-div-in .security-text h1{
        font-size: 25px;
    }
    .security-div .security-div-in .security-text{
        text-align: center;
    }
    .security-div .security-div-in .security-text p{
        font-size: 10px;
        line-height: 10px;
        text-align: center;
    }
}



 .test-div{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
   flex-wrap: wrap;
}
.test-div .test-div-in{
    padding: 15px 15px;
    width: 325px;
    margin: 20px 0;
    min-height: 375px;
    border: 2px solid #FAFAFA;
    background-color: #fff;
    font-family: "Lato", sans-serif;
}
.test-div .test-div-in .img-div{
    width: 100%;
    overflow: hidden;
}
.test-div .test-div-in .img-div img{
    width: 325px;
    height: 270px;
    cursor: pointer;
    max-width: 100%;
    object-fit: cover;
    transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
} 
.test-div .test-div-in:hover  .img-div img{
    -webkit-transform: scale(1.10);
	-moz-transform: scale(1.10);
	transform: scale(1.10);
}

.test-div .test-div-in .test-text{
    width: 100%;
    font-family:  Lato, sans-serif;
    margin-top: 15px;
    font-size: 14px;
}

.test-div .test-div-in .test-text span:hover{
    color: #108BEA;
}
.test-div .test-div-in .test-text h3{
    font-size: 18px;
    margin: 10px 0 0 0;
}
.test-div .test-div-in .test-text h3:hover{
    color: #108BEA;
}
.test-div .test-div-in .test-text p{
    margin-top: 10px;
    line-height: 20px;
}








.testimony-div{
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
 .testimony-div-in{
    width: 320px;
    min-height: 230px;
    padding: 20px 20px;
    background-color: #FAFAFA;
}
 .testimony-div-in .img-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .testimony-div-in .img-div img{
    width: 70px;
    height: 70px;
  border-radius: 50%;
}
.testimony-text{
    margin: 30px auto;
    width: 90%;
}
.testimony-text p{
    text-align: center;
    line-height: 28px;
}
.testimony-text h5{
    text-align: center;
    font-size: 16px;
}

.new-order-div{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.new-order-div .new-order-div-in{
    width: 310px;
    height: 100px;
    box-shadow: 0px 0px 0px 1px rgba(185, 185, 185, 0.1);
    background-color: #fff;
    display: flex;
}
.new-order-div-in .img-div img{
    width: 100px;
    height: 100px;
}
.new-order-div-in .text-div{
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.new-order-div-in .text-div h4{
    font-family:  Lato, sans-serif;
    margin: 0;
}
.new-order-div-in .text-div h4:hover{
    color: #108BEA;
}
.new-order-div-in .text-div .price span{
    text-decoration: line-through;
    font-family:  Lato, sans-serif;
    font-size: 17px;
}
.new-order-div-in .text-div .price .price-div{
    text-decoration: none;
    color: #108BEA;
    font-weight: 600;
}













.feedback .body-div-in{
    min-height: 300px;
}
 .feedback-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}
.body-div-in .feedback-div .form{
 width: calc(50% - 40px);
 min-height: 280px;
 padding: 20px 20px;
 background-color:#FAFAFA ;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
 .feedback-div .form .input{
    width: 90%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.input-holder-div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0 0 auto;
}
.feedback-div .form .input .input-div{
    width: 45%;
    height: 50px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
}
.form .input .input-div input{
    outline: none;
    border: none;
    background: none;
    width: 80%;
    font-size: 17px;
    color: #222222;

}
.form .input .input-div input::placeholder{
    color: #222222;
    opacity: 1;
    font-family:  Lato, sans-serif;
    font-size: 17px;
}
.body-div-in .feedback-div .form .phone{
    width: 95%;
}
.form .input .phone input{
    width: 90%;
    
}
.input textarea{
    width: 96%;
    border: 1px solid #D6D6D6;
    outline: none;
    height: 80px;
    border-radius: 5px;
    background-color: #FAFAFA;
    font-family:  Lato, sans-serif;
    font-size: 17px;
    color: #222222;
    resize: vertical;
    padding: 10px 25px;
}
.input textarea::placeholder{
    color: #222222;
    opacity: 1;
    font-family:  Lato, sans-serif;
    font-size: 17px;
  
}
.form .btn{
    width:200px;
    padding: 15px 20px;
    background-color: #108BEA;
    margin:20px 0 0 30px;
    font-size: 17px;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.form .btn:hover{
    transition: 0.5s ease-in-out;
    background-color: #000;
}



.feedback-div .request-div .request-text{
    width: 530px;
    font-family:  "Lato", sans-serif;
}
.request-div .request-text h3{
    margin: 0;
    font-size: 35px;
}
.request-div .request-text p{
    margin-top: 30px;
    font-size: 15px;
    line-height: 25px;
}


 .request-security{
    border-top: 1px solid #FAFAFA;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center ;
}
.request-security .control-div-in {
    margin-top: 30px;
    flex-wrap: ;
}
.request-security .control-div-in .img-div img{
    width: 30px;
    height: 30px;
    padding: 15px 15px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:0px 0px 15px 5px rgba(185, 185, 185, 0.4);
}
.request-security .control-div-in .control-text{
    font-family:  Lato, sans-serif;
    width: 75%;
    margin-top: 20px;
}
.request-security .control-div-in .control-text span{
    font-size: 18px;
    font-weight: 600;
}
.request-security .control-div-in .control-text p{
    margin-top: 10px;
    color: #666666;
    line-height: 20px;
}



@media all and (max-width:1274px){
    .feedback-div{
        flex-direction:column-reverse;
    }
    .feedback-div .request-div .request-text{
        
        width: 80%;
    }
    .request-div .request-text p{
        margin: 0;
    }
    .body-div-in .feedback-div .form{
        width: 90%;
    }
    .feedback-div .form .input{
        width: 100%;
    }
    .body-div-in .feedback-div .form .phone{
        width: 92.5%;
    }

    .input textarea{
        width: 92.5%;
    }
}

@media all and (max-width:624px){
    .request-security{
        display: none;
    }
    .input-holder-div{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
   
    .feedback-div .form .input .input-div{
        width: 92.5%;
    }
    .feedback-div .request-div .request-text{
        width: 100%;
    }
    .feedback-div .request-div .request-text h3{
        font-size: 25px;
    }
}






.footer{
    background-color: #161616;
    min-height: 200px;
}
.footer .body-div-in{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.delivery-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.delivery-div .delivery-div-in{
    width: 350px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    border: 1px solid rgb(33, 31, 31);
}

.delivery-div .delivery-div-in:hover img{
    animation: 0.5s ease-in-out tada;
}

.delivery-div .delivery-div-in .img-div img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
.delivery-text{
    width: 70%;
    font-family:  Lato, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.delivery-text h4{
    font-size: 18px;
    margin: 0;
}
.delivery-text span{
    font-size: 18px;
}

 .about-div{
    margin-top: 40px;
    width: 100%;
    font-family:  Lato, sans-serif;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.about-div .about-text{
    width: 40%;
    color: #fff;
}
.about-div .about-text p{
    line-height: 20px;
}
.about-div .about-text ul{
    list-style: none;
    padding: 0;
    line-height: 35px;
}
.about-div .about-text ul li i{
    margin-right: 10px;
}

.info-div ul{
    list-style: none;
    padding: 0;
    line-height: 35px;
}
.info-div ul li:hover{
    transition: 0.3s;
    color: #108BEA;
}
.media ul li{
    line-height: 43px;
}
.media ul li i{
    margin-right: 15px;
}
 .team-div{
    margin-top: 40px;
    padding: 10px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(33, 31, 31);
}
.team-div span{
   color: #fff;
}

@media all and (max-width:784px){
    .delivery-div .delivery-div-in{
        width: 100%;
    }
}
@media all and (max-width:684px){
    .team-div{
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    
}
@media all and (max-width:444px){
    .team-div span{
        font-size: 10px;
    }
    .about-div .about-text ul li{
        font-size: 13px;
        line-height: 25px;
    }
}













 .index-cont{
    position: absolute;
    width: 100%;
    top: 0;
 }
.about{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 40px 0;
    margin: 60px auto;
}

.about .about-text .about-text-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-top: 10px;
}
.about .about-text .about-text-div a:hover{
    transition: 0.5s ease-in-out;
    color: #474bff;
}
.about .about-text h3{
    margin: 0;
}
.about .about-text .about-text-div .circle{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
}
.about .about-text h3{
    font-size: 30px;
    color: #000;
}
.about-body{
    width: 100%;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.experience-div{
    width: 50%;
    height: 400px;
}
.experience-div-in{
    width: 50%;
    height: 400px;
}
.experience-div .img-div{
    position: relative;
}
.experience-div .img-div .top-circle{
    position: absolute;
    bottom: -5%;
    right: 11%;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #000000;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Rajdhani", sans-serif;
    color: #fff;
}
.img-div .top-circle .circle-text{
    width: 200px;
    text-align: center;
    line-height: 25px;
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
}
.img-div .top-circle .circle-text h3{
    color: #fff;
}
.img-div .top-circle .circle-text-div{
    margin: 50px 0;
}
.img-div .top-circle .circle-text-div h2{
    font-size: 130px;
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
    margin: 0;
    color: transparent;
    -webkit-text-stroke:1px rgb(255, 255, 255);
}
.experience-text h3{
    font-size: 30px;
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    line-height: 35px;
    margin: 0 0 30px 0;
}
.experience-text p{
    line-height: 25px;
}
.experience-text h4{
    font-size: 20px;
    font-family: Rajdhani, sans-serif;
    font-style: normal;
}
.experience-div-in button{
    padding: 15px 20px;
    background-color: #108BEA;
    width: 180px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 40px;
}
.experience-div-in button:hover{
    transition: 0.5s;
    background-color: #000;
}
.services-div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    
}
.services-div .services-div-in{
    width: 30%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    font-family:  "Rajdhani", sans-serif;
}
.services-div-in .img-div{
    margin-top: 20px;
}
.services-div-in .service-text{
    width: 94%;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    color: #222222;
}
.services-div-in button{
    padding: 12px 18px;
    background-color: #108BEA;
    width: 180px;
    font-size: 17px;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
}
.services-div-in button:hover{
    transition: 0.5s;
    background-color: #000;
}





@media all and (max-width:1046px){
    .experience-div .img-div img{
        width: 350px;
    }
}
@media all and (max-width:1046px){
    .about-body{
        width: 85%;
        flex-direction: column;
       gap: 70px;
    }
    .experience-div-in{
        width: 100%;
        margin-top: 50px;
    }
    .experience-div .img-div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
  
    .experience-div .img-div .top-circle{
        right: -25%;
    }
}


@media all and (max-width:826px){
    .services-div{
     width: 100%;
     flex-direction: column;
    }
    .services-div .services-div-in{
        width: 100%;
    }
 }
 @media all and (max-width:578px){
    .service-inner{
        margin-top: 50%;
    }
 }







.client{
  min-height: 0;
}
.client .client-div{
    width: 90%;
    min-height: 330px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F6F6F6;
}
.client-div .client-text{
    width: 85%;
    text-align: center;
    line-height: 25px;
    margin-top: 20px;
}
.member-div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.member-div .member-div-in{
    width: 20%;
    height: 390px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    box-shadow: rgb(233, 233, 233) 0px 0px 10px;
}
.member-div .member-div-in .img-div{
    position: relative;
}
.member-div .member-div-in .img-div img{
    width: 100%;
    height: 320px;
}
.member-div-in .text-div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.member-div-in .text-div h3{
    font-family: Rajdhani, sans-serif;
    margin: 0;
    font-weight: bolder;
}
.member-div-in .text-div span{
    margin: 10px 0;
}
.inner-contact{
    position: absolute;
    bottom: 4%;
    left: 3%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.inner-contact .inner-contact-div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #474bff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    visibility: hidden;
}
.inner-contact .inner-contact-div:hover{
    background-color: #222222;
}
.member-div .member-div-in:hover .inner-contact .inner-contact-div{
    visibility: visible;
}





@media all and (max-width:1040px){
    .member-div .member-div-in{
        width: 25%;
    }
}
@media all and (max-width:749px){
    .member-div .member-div-in{
        width: 35%;
    }
}
@media all and (max-width:501px){
    .member-div{
        flex-direction: column;
    }
    .member-div .member-div-in{
        width: 90%;
    }
}








.map-div{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map{
    width: 100%;
}



.touch {
    margin: 0;
}
.contact-div{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}
.contact-div .top-div{
    width: 38%;
    min-height: 330px;
    clip-path: polygon(0px 0px, 86% 0px, 100% 14%, 100% 100%, 0px 100%, 0% 50%);
    background-color: #FAFAFA;
}
.contact-div .top-div .info-div{
    margin: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    align-items: flex-start;
}
.top-div .info-div .info-div-in {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
   

}

.top-div .info-div .info-div-in .icon-div i{
    background-color: #108BEA;
    font-size: 35px;
    padding: 5px 7px;
    color: #fff;
}
.top-div .info-div .info-div-in .text-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family:  "lato",sans-serif;
}
.top-div .info-div .info-div-in .text-div h3{
    margin: 0;
    font-family:  "lato",sans-serif;
}
.info-div p{
    font-weight: 600;
    margin: 0;
    line-height: 25px;
    font-family: "lato",sans-serif;
    font-size: 18px;
}
.info-div p span{
    color: #108bea;
}

.contact-div  .bottom-div .input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.contact-div  .bottom-div .input textarea{
    background-color: #fff;
    width: 100%;
}

.contact-div  .bottom-div  .input-div{
    width: 600px;
    height: 50px;
    background-color: #fff;
    display: flex;
    padding: 0 30px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #D6D6D6;
    border-radius: 2px;
}
.contact-div  .bottom-div  .input-div input{
    width: 100%;
    height: 90%;
    font-family: "lato",sans-serif;
    font-size: 17px;
    border: none;
    outline: none;
}
.contact-div  .bottom-div  .input-div input::placeholder{
    font-size: 17px;
    color: #000;
    font-family: "lato",sans-serif;
}

.contact-div  .bottom-div  .input .btn{
    padding: 20px 25px;
    background-color: #108BEA;
    width: 200px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.contact-div  .bottom-div  .input .btn:hover{
    background-color: #000000;
}
.cell-phone-div{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    gap: 15px;
    width: 100%;
    margin-top: 50px;
    border-top: 3px solid #000000;
    
}
.cell-phone-div .top-div{
    margin-top: 20px;
    border-bottom: 2px solid #D6D6D6;
    min-height: 40px;
    -moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}
.cell-phone-div .top-div .text-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
   cursor: pointer;
}
.cell-phone-div .top-div i{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.cell-phone-div .top-div p{
    margin: 25px 0 20px 0;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    color: #999999;
  
}
.cell-phone-div h3{
    font-size: 20px;
    margin: 0;
    font-family: "lato",sans-serif;
}

.cell-phone-div .faq-answer{
   padding: 10px 15px;
}


@media all and (max-width:1316px){
    .contact-div{
        flex-direction: column;
        width: 100%;
    }
    .contact-div .top-div{
        width: 100%;
    }
}
@media all and (max-width:668px){
    .contact-div .bottom-div .input-div{
        width: 85%;
    }
    
    .contact-div .bottom-div{
        width: 100%;
    }
}

@media all and (max-width:804px){
    .cell-phone-div h3{
        font-size: 16px;
    }
    .phone-text{
        width: 100%;
    }
}
@media all and (max-width:612px){
    .cell-phone-div h3{
        font-size: 11px;
    }
    .cell-phone-div .top-div p{
        font-size: 10px;
    }
}
@media all and (max-width:448px){
    .cell-phone-div h3{
        font-size: 8px;
    }

}












.phone-text{
    margin-top: 30px;
    width: 55%;
    color: #000000;
    text-align: center;
}
.phone-text span{
    font-size: 17px;
}
.phone-text span a{
    font-weight: 600; 
    text-decoration: underline;
}
.phone-text span a:hover{
    transition: 0.3s;
    color: #108bea;
}


@media all and (max-width:804px){

    .phone-text{
        width: 100%;
    }
    .phone-text span{
        font-size: 11px;
    }
}



.menu-tab{
    margin: 30px 0;
    display: flex;
    gap: 15px;
    font-family:  "Lato", sans-serif;
}

.menu-div-in{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #F6F6F6;
    cursor: pointer;
    box-shadow:0px 0px 20px 2px rgba(185, 185, 185, 0.1);
   
}
.menu-tab .left{
    cursor: not-allowed;
}

.num1{
    background-color: #108bea;
    color: #fff;
    box-shadow:0px 0px 15px 5px rgba(185, 185, 185, 0.1);
}
.num{
    box-shadow:0px 0px 15px 5px rgba(185, 185, 185, 0.1);
}
.menu-div-in:hover{
    background-color: #108BEA;
    color: #fff;
}
.menu-tab a{
    font-size: 18px;
}
.text-div-ii{
padding: 0;
}
.item-div{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.item-div .img-div img{
    width: 340px;
    height: 210px;
}
.item{
    justify-content: flex-start;
    align-items: flex-start;
}
.item-div-in .text-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
    text-align: center;
    width: 350px;   
  
}
.item-div-in .text-div p{
    line-height: 25px;
    color: #888888;
    font-family:  "Lato", sans-serif;
}
.item-div-in .text-div h3{
    margin: 0;
}
.efficient{
    background-color: #FAFAFA;
    min-height: 400px;
    justify-content: center;
}

.efficient-div-in{
    margin: 50px 50px;
}
.efficient-div .top-text-div{
    width: 70%;
   
    margin: auto 20px;
}
.efficient-div .top-text-div h2{
    font-size: 28px;
    line-height: 40px;
    margin: 0;
    font-family:  "Lato", sans-serif;
}
.efficient-div .top-text-div hr{
    width: 20%;
    float: left;
    border: 2px solid #000000;
}
.efficient-div .top-text-div p{
    margin-top: 40px;
    line-height: 25px;
    font-size: 14px;
}

.time-div{
    margin: 20px 0 0 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.time-div-in{
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    text-align: center;
    height: 75px;
    width: 75px;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 9px;
}
.time-div-in p{
    font-size: 21px;
    margin: 0;
}
.time-div-in span{
    font-size: 21px;
}
.efficient-div-in .btn{
    margin: 20px 0 40px 20px;
    padding: 16px 20px;
    background-color: #108BEA;
    width: 180px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.efficient-div-in .btn:hover{
    transition: 0.5s;
    background-color: #000;
}
.efficient-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.efficient-div .img-div{
    position: relative;
}
.efficient-div .img-div .icon-div{
    position: absolute;
    top: 42%;
    left: 44%;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 100%;
    color: #30BBF7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.efficient-div .img-div .icon-div i{
    font-size: 20px;
}
.efficient-div .img-div .icon-div:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.15);
    background: transparent;
    color: #108bea;
    border: 1px solid #108bea;
}
.service-logo{
    height: 130px;
}

@media all and (max-width:1168px){
    .efficient-div{
        flex-direction: column;
        
    }

}
@media all and (max-width:566px){
.efficient-div .img-div img{
    width: 200px;
    margin: auto;
}
.efficient-div{
    width: 100%; 
}
.efficient-div .top-text-div h2{
    font-size: 20px;
}
.efficient-div .top-text-div{
    /* margin: auto 40px; */
    width: 100%;
}
}
@media all and (max-width:862px){
    .item-div-in{
        width: 100%;
    }
    .item-div .img-div img{
        width: 100%;
        height: 300px;
    }
    .item-div-in .text-div{
        width: 100%;
    }
}




.about-div-inner{
    margin: 0;
}

.tax-div{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 30px;
}
.tax-div-in{
    width: 280px;
    height: 230px;
    background-color: #F6F6F6;
}
.tax-div-in .img-div{
    width: 100%;
   display: flex;
   justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tax-div-in .img-div h3{
    font-size: 25px;
    font-family:  "Lato", sans-serif;
}
.tax-div-in .img-div img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
}
.tax-text-div{
    margin-top: 70px;
    font-size: 15px;
}
 .tax-text-div span{
    font-weight: 600;
    line-height: 25px;
} .tax-text-div p{
    margin-top: 30px;
    line-height: 25px;
    text-align: justify;
}
.shopping{
    display: flex;   
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.text-ava .text-div{
    cursor: pointer;
    display: flex;
    width: 250px;
    margin: 14px 0 30px 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px 0;
    font-family:  "Lato", sans-serif;
    border-bottom: 1px solid #FAFAFA;
}
.text-ava h2{
    margin: 0;
    font-family:  "Lato", sans-serif;
}
.shopping .left-div{
    width: 100%;
}
.shopping .left-div .top-div{
    margin-top: 14px;
}
.select-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #E5E5E5;
    border-style: dashed;
}
.stock-div:hover input(:checked){
    color: #108BEA;
    
}
.stock-div{
    display: flex;
    gap: 45%;
    margin: 10px 0;
  
}
.stock-div .input-div label{
    cursor: pointer;
}
.stock-div label{
    font-family:  "Lato", sans-serif;
}
.stock-div span{
    font-family:  "Lato", sans-serif;
}
.shopping .left-div .icon-div{
    display: flex;
    align-items: center;
    gap:20px;
}
.shopping .left-div .icon-div i{
    cursor: pointer;
    font-size: 20px;
}

.shopping .left-div .icon-div .bi-grid{
    color: #108BEA; 
}
.shopping .left-div .top-div{
    display: flex;
    justify-content: space-between;
}
.shopping .left-div .top-div label, select{
    font-size: 18px;
    font-family:  "Lato", sans-serif;
}
.shopping .left-div .top-div select{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.shopping .left-div .top-div select option{
    font-size: 14px;
}
.shopping .left-div span{
    font-size: 18px;
    font-family:  "Lato", sans-serif;
}

.price-stock-div input{
    width: 70px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E5E5E5;
    outline: none;
    margin: 0 2px;
}
.price-stock-ii{
    gap: 20px;
}
.text-ava .btn{
    padding: 15px 20px;
    background-color: #108BEA;
    width: 100%;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 29px;
    cursor: pointer;
}
.text-ava .btn:hover{
    transition: 0.5s;
    background-color: #000;
}
.type-div{
    height: 120px;
    width: 100%;
    overflow:auto;
}
.type{
    font-size: 12px;
    justify-content: space-between;
}
.tabii{
    width: 100%;
    display: flex;
    justify-content: center;
}
.category{
    background-color: #F0F0F0;
    flex-direction: column;
    gap: 30px;
}



@media all and (max-width:1320px){
    .shopping{
        flex-direction: column-reverse;
    }
    .shopping .left-div .top-div{
        flex-wrap: wrap;
    }
    .text-ava .text-div{
        width: 100%;
    }
    .stock-div{
        justify-content: space-between;
    }
    .tax-div{
        flex-wrap: wrap;
    }
}
@media all and (max-width:698px){
    .tax-div-in{
        width: 200px;
    }
    .tax-div-in .img-div img{
        width: 70px;
        height: 70px;
    }
    .tax-div-in .img-div h3{
        font-size: 20px;
    }
}
@media all and (max-width:496px){
    .tax-div-in{
        width: 100%;
    }
    .tax-div-in .img-div img{
        width: 120px;
        height: 120px;
    }
    .tax-div-in .img-div h3{
        font-size: 25px;
    }
}








.zoom-div{
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.zoom-div .zoom-div-in .img-div img{
    width: 100%;
    
}
.zoom-div .zoom-div-in{
    width: 350px;
}
.zoom-div .zoom-div-in h3{
    font-family:  "Lato", sans-serif;
    font-size: 20px;
    margin: 15px 10px;
}
.zoom-div .zoom-div-in h3:hover{
    transition: 0.5s;
    color: #108bea;
}
.zoom-div .zoom-div-in .text-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.exlusive-div{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product-div  .net-div{
    width: 250px;
    
}
.product-new{
    margin: 0;
}
.exlusive-div .left-div img{
    width: 330px;
    height: 720px;
}

.shop-div{
    width: 65%;
    height: 200px;
    right: 40%;
    left: 20%;
    padding: 10px 15px;
}
.shop-inner-div{
    width: 100%;
    display: flex;
    gap: 30px;
}

.shop-div .text-div{
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
}
.shop-div .text-div h3{
    margin: 0 0 15px 0;
    font-size: 15px;
}
.shop-div .text-div h3:hover{
    color: #108bea;
}
header .bottom-div .inner-div nav .sub-home .shop-div-in{
    margin: 15px 0;
    gap: 20px;
}
.shop-inner .img-div img{
    width: 170px;
    height: 160px;
}
.shop-inner span{
    font-size: 16px;
    font-weight: lighter;
    font-family:  "Lato", sans-serif;
}
.shop-inner span:hover{
    color: #108bea;
}





@media all and (max-width:866px){
    .zoom-div .zoom-div-in{
        width: 100%;
    }
 
}
@media all and (max-width:662px){
    
    .product-div .net-div{
        width: 100%;
    }
}
@media all and (max-width:1036px){
.exlusive-div{
    flex-direction: column;
}
}
@media all and (max-width:872px){
.product-new{
    gap: 70px;
}
}




.spinner {
    --radius: 33.6;
    --size: 16.8;
    position: relative;
    width: calc(var(--size) * 1px);
    height: calc(var(--size) * 1px);
 }
 .preloader{
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
 }
 .spinner div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #474bff;
    border-radius: 50%;
    transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 0px));
    animation: spinner-19rk4d 1.5s calc(var(--delay) * 1.2s) infinite ease;
 }
 .spinner div:nth-child(1) {
    --angle: 45;
    --delay: 0.1;
 }
 
 .spinner div:nth-child(2) {
    --angle: 90;
    --delay: 0.2;
 }
 
 .spinner div:nth-child(3) {
    --angle: 135;
    --delay: 0.3;
 }
 
 .spinner div:nth-child(4) {
    --angle: 180;
    --delay: 0.4;
 }
 
 .spinner div:nth-child(5) {
    --angle: 225;
    --delay: 0.5;
 }
 
 .spinner div:nth-child(6) {
    --angle: 270;
    --delay: 0.6;
 }
 
 .spinner div:nth-child(7) {
    --angle: 315;
    --delay: 0.7;
 }
 
 .spinner div:nth-child(8) {
    --angle: 360;
    --delay: 0.8;
 }
 
 @keyframes spinner-19rk4d {
    0%, 30%, 50%, 100% {
       transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 0px)) scale(0);
    }
 
    40% {
       transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(1);
    }
 }